.navbar {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  height:100px;
  background-color: #F5524D;
  margin-bottom: 0px;
}


a{ 
  color:white;
  font-family:'Amatic SC';
  font-size:30px;
}

a:hover{
  text-decoration: none;
  color:#29C0CA;
}