.footer{
  height:100px;
  background-color: #F5524D;
}

.footerSocials {
  display: flex;
  justify-content: flex-end;
}

.listSocials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;
  width: 50%;
  padding: 20px;
  margin-bottom: 0;
}