@font-face {
  font-family: 'Amatic SC';
  src: url('./fonts/Amatic_SC/AmaticSC-Regular.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  color:#F5524D;
  font-family: 'Amatic SC';
}

h3{
  color:#29C0CA;
  font-family: 'Amatic SC';
}
